:global(.soldoutDialog p) {
  margin: 0;
  margin-bottom: 1em;
}
.block {
  display: block;
}

.app_label {
  font-weight: bolder;
  margin: 0.5em 0;
}

.prod_item {
  border: 1px solid #ddd;
}

.app_header {
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 1em;
  background-color: #eee;
  border-bottom: 1px solid #ddd;
  position: sticky;
  top: 0;
  z-index: 2;
}

.item_title {
  font-size: 1.3em;
}

.hori_div {
  background: #0002;
  width: 1px;
  height: 2em;
  display: block;
}

.app_body .app_header {
  z-index: 1;
}

.radio_vertical {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.app_radio {
  display: inline-flex;
  align-items: center;
  position: relative;
  font-weight: bolder;
}
.app_radio span {
  margin-top: auto;
}

.app_radio input[type="radio"] {
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
}
.app_radio:has(input[type="radio"])::before {
  content: "";
  box-sizing: content-box;
  border-radius: 999px;
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: 0.3em;
  border: 2px solid #0002;
  background: white;
  transition: 0.1s;
}
.app_radio:has(input[type="radio"]):hover::before {
  border-color: #0004;
}
.app_radio:has(input[type="radio"]):active::before {
  transition: 0s;
  background: #0002;
}
.app_radio:has(input[type="radio"]:checked)::before {
  border-color: rgb(0, 109, 211);
}

.app_radio:has(input[type="radio"])::after {
  content: "";
  box-sizing: content-box;
  border-radius: 999px;
  width: calc(1em - 4px);
  height: calc(1em - 4px);
  position: absolute;
  left: 4px;
  transition: 0.1s;
}
.app_radio:has(input[type="radio"]:checked)::after {
  background: rgb(0, 109, 211);
}

.app_text_input {
  position: relative;
}
.app_text_input input[type="text"] {
  padding-right: 2.2em;
  text-align: right;
}
.app_text_input::before {
  content: attr(data-discqty);
  position: absolute;
  bottom: calc(100% + 0.5em);
  left: 50%;
  transform: translateX(-50%) translateY(10%);
  opacity: 0;
  pointer-events: none;
  border-radius: 0.5em;
  background: #000a;
  color: white;
  border: 2px solid #fff;
  box-shadow: 0 4px 8px #0006;
  padding: 0.5em;
  white-space: nowrap;
  transition: 0.2s;
  z-index: 3;
}
.app_text_input.qty:has(input:focus, input:hover)::before {
  opacity: 1;
  transform: translateX(-50%);
}
.app_text_input::after {
  content: attr(data-label);
  position: absolute;
  padding: 0.5em;
  right: 0;
  top: 0;
  border: 1px solid transparent;
  border-left: 1px solid #0002;
  box-sizing: border-box;
  background: #0001;
  border-radius: 0 6px 6px 0;
}

.app_body {
  padding: 1em;
}

.app_row {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1em;
}

.app_row .app_col {
  flex: 1 1 100%;
  flex-basis: calc(var(--flex-basis) - 1em);
}

.postcodebox {
  border: 1px solid #ddd;
  margin-bottom: 1em;
}
input {
  box-sizing: border-box;
  border-color: #ddd;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
}

input[type="text"] {
  width: 100%;
  margin-bottom: 1em;
  font-size: 1em;
  padding: 0.5em;
}

input.failed {
  background: #f002;
}

hr {
  border: none;
  border-top: 1px solid #ddd;
}

.app_footer {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-top: 1em;
  gap: 1em;
}

button {
  font-size: 1em;
  padding: 0.5em;
  box-sizing: border-box;
  border: 1px solid rgb(180, 186, 194);
  border-radius: 4px;
  background-color: rgb(233, 235, 237);
}
button:hover {
  background: rgb(208, 215, 223);
}
button:active {
  background: rgb(151, 160, 170);
}

.excelLoading {
  position: relative;
}
.excelLoading::after {
  position: absolute;
  content: "엑셀 데이터를 읽고 있습니다...";
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff6;
  top: 0;
  left: 0;
}

@media screen and (max-width: 640px) {
  .app_row .app_col {
    flex-basis: 100%;
  }
}
